$primary-color: #10161d;
$secondary-color: #6c757d;

/*      BACKGROUND      */

$background-light__blue-gardient__color: linear-gradient(to bottom right, #e6f3f1, #f0f7f5);

/*      SCROLLBAR       */
$scroll__bar-track-color: #f1f1f1;
$scroll__bar-thumb-color: #555;