@use '../mixins' as mixins;

.theme-light, .theme-dark {
  @include mixins.themed() {
    --primary-bg: #{mixins.t('bg-primary')};
    --secondary-bg: #{mixins.t('bg-secondary')};
    --primary-text: #{mixins.t('text-primary')};
    --secondary-text: #{mixins.t('text-secondary')};
    --accent: #{mixins.t('accent-color')};
    --button-bg: #{mixins.t('button-bg')};
    --button-text: #{mixins.t('button-text')};
  }
}



/*      BACKGROUND      */

$background-light__blue-gardient__color: linear-gradient(to bottom right, #e6f3f1, #f0f7f5);

/*      SCROLLBAR       */
$scroll__bar-track-color: #f1f1f1;
$scroll__bar-thumb-color: #555;
