// _buttons.scss
.btn-primary {
    background-color: $primary-color;
    border: none;
    color: #fff;
    padding: 10px 20px;
}
  
.btn-secondary {
    background-color: $secondary-color;
    border: none;
    color: #fff;
}