<app-top-bar></app-top-bar>
<app-table-comp [checkRow]="true" [listEnregistrementsColone]="EnregistrementsColone" [listEnregistrements]="enregistrements" [btnActions]="actionListe"></app-table-comp>
<!-- <app-table-comp [checkRow]="true" [listEnregistrementsColone]="EnregistrementsColone" [listEnregistrements]="enregistrements"></app-table-comp> -->
<!-- <div class="m-6">
  <div class="flex justify-content-end flex-wrap">
    <button
    pButton
    pRipple
    label="Add"
    class="p-button-success mb-3">
  </button>
  </div>

  <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
            <th colspan="2">Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.code }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.quantity }}</td>
            <td><button
              class="p-link inline-flex justify-content-center align-items-center text-black h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
              <i class="pi pi-pen-to-square text-2xl"></i>
            </button></td>
            <td><button
              class="p-link inline-flex justify-content-center align-items-center text-black h-3rem w-3rem border-circle hover:bg-white-alpha-10 transition-all transition-duration-200">
              <i class="pi pi-trash text-2xl"></i>
            </button></td>
        </tr>
    </ng-template>
  </p-table>
</div> -->


<!-- <div class="vertical-align-baseline m-5">
  <div class="field w-3 m-auto">
    @for (tes of testes; track tes){
      <li>{{ tes }}</li>
    }
  </div>
</div>
<app-teste [testeValue]="currentTeste" (testValueEmit)="addTeste($event)"></app-teste> -->

