<!-- <p-button 
  pButton 
  pRipple 
  label="Submit" 
  class="p-button-success">
</p-button>

<p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
      <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
      <tr>
          <td>{{ product.code }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.quantity }}</td>
      </tr>
  </ng-template>
</p-table> -->

<div>
  <app-top-bar></app-top-bar>
</div>

<div class="card mt-20">
  <app-card [title]="'Home'" 
  [textContent]="'Some Content here'"
   [images]="[
  'https://akabia.fr/sites/default/files/styles/responsive_image_2000/public/media/image/angular-logo.png?itok=m_BEl8pZ',
  'https://openfeature.dev/img/blog/2024-09-17-announcing-angular-sdk/angular.png',
  'https://miro.medium.com/v2/resize:fit:1400/1*bMgQ8MhbnQexpqHgIgBJPA.png'
]"></app-card>
</div>

<!-- <div>
  <app-side-bar></app-side-bar>

</div> -->




